
#card-img-div{
    box-shadow:"rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px";

  height: "170px";
  width: "150px";
 border-radius: "5px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}



#card-img-div:hover{
scale: 105%;

   

};