#products-parent-div{

display: grid;
gap: 10px;
grid-template-columns: repeat(4,1fr);
color: black;
background-color:white


}

 #Products-filter-section{

    height:100%;
       width: 20%;
    font-size: larger;
   position:fixed;
    
 }
 /* static
relative
fixed
absolute
sticky */



@media only screen and (max-width: 600px) {
    #products-parent-div{
        grid-template-columns: repeat(2,1fr);
        padding-left: 0%;
    
    }

    #Products-filter-section{
        display: none;
    }
  }