.rtpcrtest_div{
    /* border: 1px solid red; */
height: 42.6rem;
width: 65rem;
margin: auto;
margin-top: 8rem;
}

.textname_test {
  /* border: 1px solid red; */
  font-size: 1.6rem;
  font-weight: 700;
  color: #4f585e;
}

.all_detail_Box{
  /* border: 1px solid red; */
  margin-top: 1rem;
  height:15rem;
  width: 65rem;
  display: flex; 
}

.box1{
  /* border: 1px solid red; */
  height: 15rem;
  width: 33rem;
  margin: auto;
}
.covidrtpcr_div{
  border: 1px solid #4f585e;
  height: 15rem;
  height: 14.5rem;
  width: 33rem;
  border-radius: 5px;
  cursor: pointer;
}

.img_content{
  /* border: 1px solid red; */
  display: flex;
}

.img_content img{
  height: 2.5rem;
  margin-left: 1.6rem;
  margin-top: 2rem;
}
.rtpcr_text{
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-left: 0.8rem;
  font-weight: 700;
  color: #4f585e;
}

.certifiedlab{
  /* border: 1px solid red; */
  margin-left: 5rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.sel_btn{
  background-color: #10847e;
  height: 2.8rem;
  width: 13rem;
  margin-left: 5rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  color: white;
  font-weight: 600;
}

.warning_Box{
  border: 1px solid #fff8da;
  background-color: #fff8da;
  margin-top: 1rem;
  height: 8rem;
  width: 33rem;
  border-radius: 8px;
  display: flex;

}
.imgwarn{
  /* border: 1px solid red; */
  width: 10rem;
  margin-top: 0.5rem;
}

.imgwarn img{
  height: 3rem;
  width: 3.6rem;
  background-color: #fc8019;
}

.textwarn{
  margin-left: 0rem;
  background-color: #fff8da;
  color: #fc8019;
  font-weight: 500;
  margin-top: 1rem;
}


.selectyou{
  margin-left: 5rem;
  font-weight: 600;
  color: #4f585e;
  font-size: 1.1rem;
}

.view_box {
  margin-left: 5rem;
  margin-top: 1rem;
  width: 22rem;
  height: 3.4rem;
}

.view_cart{
  background-color: #959595;
  border-radius: 5px;
  width: 23rem;
  height: 3.1rem;
  color: white;
  font-weight: 700;
}

.dis_req_div {
  /* border: 1px solid red; */
  margin-top: 2rem;
  display: flex;
  cursor: pointer;
}

.discription_div{
  /* border: 1px solid red; */
  color: #10847e;
  font-weight: 600;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.testrequi {
  /* border: 1px solid red; */
  color: #8897a2;
  font-weight: 600;
  margin-left: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.line1{
  border: 1px solid rgb(24, 182, 182);
  height: 0.2rem;
  margin-top: 0.1rem;
  width: 10rem;
  background-color: #10847e;
  cursor: pointer;
}

.disbox{
  /* border: 1px solid red; */
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 450;
  color: #4f585e;
}

.appdiv {
  /* border: 1px solid red; */
  width: 66rem;
  margin: auto;
}
